# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
# 'atom-text-editor':
  # "activationCommands": { "atom-workspace": "blame-line:blame" },
'atom-text-editor.vim-mode-plus.normal-mode':
  's g b': 'blame-line:blame'
