@import "ui-variables";
@import "syntax-variables";

.blame-line {
  color: @text-color;
  .summary { color: @text-color-highlight; }
  a {
    text-decoration: underline;
    &[disabled] {
      color: @text-color-ignored;
      pointer-events: none;
    }
  }
}
